@import 'libs/skel';

// Change these breakpoints however you like.
@include skel-breakpoints((
	xlarge: '(max-width: 1680px)',
	large:  '(max-width: 1280px)',
	medium: '(max-width: 980px)',
	small:  '(max-width: 736px)',
	xsmall: '(max-width: 480px)'
));

// Modify these settings to suit your needs.
@include skel-layout((
	reset: 'full',
	boxModel: 'border',
	containers: 60em,
	grid: ( gutters: 2em ),
	breakpoints: (
		large: (
			containers: 65em,
			grid: ( gutters: 1.5em )
		),
		medium: (
			containers: 90%
		),
		small: (
			containers: (90%, true),
			grid: ( gutters: 1.25em )
		)
	)
));

// Import SASS files here (Must be imported after initializing Skel)

$text-color: #378CFF;
$box-color: #FFDC50;

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

body {
	padding-top: 10%;
	background: url('../images/background3.png');
	font-size: 18px;
	color: white;
}

h1, h2, h3 {
	color: $text-color;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h1 {
	margin: 0.25em auto;
}

h2 {
	margin: 0.75em auto;
}

.message {
	margin-bottom: 2.7em;
	color: $box-color;
	text-align: center;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
}

.countdown-container {
	margin: 3em 0;
	text-align: center;
}

.countdown {
	color: $box-color;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;

	display: inline-block;
	border: 4px solid $box-color;
	border-radius: 10px;
}

.unit:first-child {
	margin-left: 0.75em;
}

.unit:last-child {
	margin-right: 0.75em;
}

.unit {
	margin: 0 0.5em;
	display: inline-block;
	text-align: center;
	position: relative;
}

.value {
	font-size: 7em;
	position: relative;
}

.unit-label {
	margin-left: -0.1em;
	font-size: 1.75em;
}

footer {
	margin-bottom: 3em;
	color: rgba(255, 255, 255, 0.4);
	text-align: center;
	font-size: 12pt;
	font-family: 'Source Sans Pro', sans-serif;
	transition: color 0.15s;
}

#email-toggle {
	display: inline-block;
	cursor: pointer;
}

#email-toggle:hover {
	color: rgba(255, 255, 255, 0.75);
	transition: color 0.2s;
}